<!DOCTYPE html>
<html lang="en">

<head>
  <h1><%= title %> </h1>
</head>

<body>
  <title>
    <%= title %>
  </title>
  <a href="/">Home</a>
  
  <form method="post" >
    <label for="trip_title">Destination Name</label>
    <input type="text" name="trip_title" id="trip_title">
    <br>
    <label for="departure_date">Departure Date</label>
    <input type="text" name="departure_date" id="departure_date"><br>
    <label for="return_date">Return Date</label>
    <input type="text" name="return_date" id="return_date"><br>
    <button type="submit">Add New Trip</button>
  </form>





</body>

</html>